div#renderer-container {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  z-index: 0;
}

canvas {
  position: fixed;
  z-index: -1000;
}


/*div*/#top-container {
  margin: 10px;
  padding: 10px 20px;
  position: absolute;
  right: 0%;
  background-color: rgba(220, 220, 220, 0.75);
  text-align: right;
  border-radius: 5px;
  opacity: 1;
  transition: opacity 0.2s;
}
/*div*/#top-container:hover {
  opacity: 0.3;
}

/*div*/.label {
  margin: 10px 0px;
  color: white;
  font-size: 2em;
  text-shadow: 0 1px 1px #888888, 0 0 10px #444444;
}

div.value {
  display: inline;
}

div#player-details {
  color: #444444;
  font-weight: bold;
  text-shadow: 0 0 2px #222222, 0 0 10px #ffffff;
}

div#score-container {
  text-shadow: 0 0 1px #eeeeee, 0 0 10px #444444;
}

div#money-container {
  text-shadow: 0 0 1px #eeeeee, 0 0 10px #444444;
}

div.p1-color {
  color: #b30000;
}

div.p2-color {
  color: #000099;
}

div.highlight {
  border-bottom: 2px solid #f3f315;
  /*border-radius: 5px;*/
  padding-bottom: 3px;
}


/*div*/.bottom-container {
  position: absolute;
  bottom: 25px;
  text-align: center;
}

div#pause-icon-container {
  left: 25px;
}

div#speed-icons-container {
  right: 25px;
}


/*img*/.icon {
  width: 50px;
  height: 50px;
  margin: 0px 7px;
  padding: 3px;
  border-radius: 50%;
  background-color: white;
  opacity: 0.5;
  transition: opacity 0.1s, box-shadow 0.1s;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

.icon:hover {
  box-shadow: 0 1px 10px #bbbbbb, 0 0 30px #444444, 0 0 30px #aaaaaa;
  opacity: 0.8;
}

.icon:active {
  background-color: #666666;
  opacity: 1;
  box-shadow: 0 0 10px #444444;
}

div.extreme {
  color: #ff0101;
  text-shadow: 0 0 1px #b30000, 0 1px 1px #888888, 0 0 10px #ffffff;
}
