div#renderer-container {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  z-index: 0;
}

div#renderer-container:focus-within:after {
  border: 1px solid orange;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

canvas {
  z-index: -1000;
}

canvas:focus {
  outline: none;
}

/*div*/.top-container {
  position: absolute;
  padding: 10px 20px;
  background-color: rgba(220, 220, 220, 0.75);
  z-index: 1;
}


@keyframes blink {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/*div*/#top-right-container {
  margin: 10px;
  right: 0%;
  border-radius: 5px;
  text-align: right;
  opacity: 1;
  transition: opacity 0.2s;
}
/*div*/#top-right-container:hover {
  opacity: 0.3;
}

/*div*/.label {
  margin: 10px 0px;
  color: white;
  font-size: 1.5em;
  text-shadow: 0 1px 1px #888888, 0 0 10px #444444;
}

div.value {
  display: inline;
}

div.player-details {
  color: #444444;
  font-weight: bold;
}

div.top-label {
  text-shadow: 0 0 1px #eeeeee, 0 0 10px #444444;
}

div.p1-color {
  color: #b30000;
}

div.p2-color {
  color: #000099;
}

div.highlight {
  border-bottom: 2px solid #f3f315;
  /*border-radius: 5px;*/
  padding-bottom: 3px;
}


/*div*/.bottom-container {
  position: absolute;
  z-index: 1;
  bottom: 25px;
  text-align: center;
}

div#pause-icon-container {
  left: 25px;
}

div#speed-icons-container {
  right: 25px;
}


/*img*/.icon {
  width: 50px;
  height: 50px;
  margin: 0px 7px;
  padding: 3px;
  border-radius: 50%;
  background-color: white;
  opacity: 0.5;
  transition: opacity 0.1s, box-shadow 0.1s;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

.icon:hover {
  box-shadow: 0 1px 10px #bbbbbb, 0 0 30px #444444, 0 0 30px #aaaaaa;
  opacity: 0.8;
}

.icon:active {
  background-color: #666666;
  opacity: 1;
  box-shadow: 0 0 10px #444444;
}

div.extreme {
  color: #ff0101;
  text-shadow: 0 0 1px #b30000, 0 1px 1px #888888, 0 0 10px #ffffff;
}


div#game-over-container {
  left: 50%;
  display: none;
  padding: 5px 20px;
  border-radius: 5px;
  background-color: rgba(220, 220, 220, 0.75);
  transform: translateX(-50%);
  animation: blink 1.5s ease-in-out infinite alternate;
}

@keyframes blink {
  0%   { opacity: 0; }
  50%  { opacity: 1; }
  100% { opacity: 1; }
}
